@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wave {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-25%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-wave {
    animation: wave 10s infinite linear;
  }

  .my-masonry-grid {
    display: flex;
    margin-left: -16px;
    width: auto;
  }
  
  .my-masonry-grid_column {
    padding-left: 16px;
    background-clip: padding-box;
  }